@model IEnumerable<NghiemDangDuyThang_2020601070.Models.Phong>
@foreach (var item in Model)
{
    var url = "/NhanVienTheoPhong/" + item.Maphong;//Câu 5
    <a href="@url">@item.Tenphong</a> <label>&nbsp; | &nbsp;</label>
}
